*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #009587;
    justify-content: center;
    background: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
    ;
}

/* main */
.main-container{
    width: 80%;
    height: 90%;
    margin: auto;
    background-color: white;
}

.col-left{
    width: 30%;
    height: 100%;
}

.col-right{
    width: 70%;
    height: 100%;
}

/* col left */

/* notifiche */
.notifiche{
    background-color: #8edafb;
    padding: 5px 5px;
}

.notifiche .user-img{
    background-color: white;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
}

.notifiche i{
    color: #8edafb;
}

.active-notifiche{
    padding: 0px 5px;
    font-size: 14px;
}

.notifiche .grey{
    text-decoration: underline;
}
/* end notifiche */

/* users */
.search-barr{
    width: 100%;
    padding: 5px 5px;
    background-color: #fafafa;
}

.search-barr i{
    padding: 0px 5px;
}

.search-barr input{
    width: 100%;
    border-radius: 5px;
    border: 0px;
}

.users-list{
    overflow-y: auto;
}
/* end users */

/* end col left */

/* col right */

/* message container */
.col-right .user{
    border-left: 1px solid lightgrey;
}

.last-access{
    font-size: 12px;
    padding: 0px 5px;
}

.message-container{
    background-image: url("../img/mine.jpg");
    height: calc(100% - 20%);
    padding: 40px 10px 5px 5px;
    overflow-y: auto;
}

.wraooer-message-sent{
    justify-content: right;
}

.received{
    width: 50%;
    justify-content: center;
}

.message-received{
    background-color: #ffffff;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.sent{
    width: 50%;
    justify-content: center;
}

.message-sent{
    background-color: #d5f9ba;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.date{
    font-size: 10px;
    text-align: right;
    color: lightgrey;
}

.send-message{
    background-color: #f3eeea;
    height: 10%;
    padding: 5px 5px;
}

.send-message .message-icon{
    text-align: center;
    width: 10%;
}

.send-barr{
    width: 80%;
    text-align: center;
}

.send-barr input{
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
    border: 0px;
}

.message-menu{
    text-align: right;
}

.active-menu{
    background-color: white;
    padding: 5px;
    top: 80%;
    left: 30%;
    font-size: 12px;
    text-align: center;
}

.active-menu div{
   padding: 5px;
   cursor: pointer;
}

.info{
    display: inline-block;
}

.info :hover{
    background-color: lightgray;
}

.delate{
    display: inline-block;
}

.delate :hover{
    background-color: lightgray;
}
/* end message container */

/* end col right */

/* end main */

/* common */
img{
    max-width: 100%;
}

.flex{
    display: flex;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.align-i-center{
    align-items: center;
}

i{
    color: #b1b1b1;
    cursor: pointer;
}

.user-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

.grey{
    color: #b7babd;
}

li{
    list-style-type: none;
    padding: 5px 5px;
    cursor: pointer;
    width: 100%;
}

li :hover{
    background-color: #e9ebeb;
}

.active{
    background-color: #e9ebeb;
}

.user{
    height: 10%;
    padding: 5px 5px;
}

.user-dati{
    width: 50%;
}

.user-name{
    padding: 0px 5px;
}

.user-options{
    width: 50%;
    justify-content: end;
}

.user-options div{
    padding: 0px 5px;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

.none{
    display: none;
}

.block{
    display: block;
}
/* end common */